//Created by Chad on 10/19/2014.
doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src='http://simplewebrtc.com/latest.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        style(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        style.
            #remoteVideos video {
            height: 98%;
            position: absolute;
            z-index: 0}
            h1 {text-align: center }

    body
        //video#localVideo
        h1 You have an alert
        #remoteVideos
        script.
            var webrtc = new SimpleWebRTC({
            localVideoEl: 'localVideo',
            remoteVideosEl: 'remoteVideos',
            media: {audio: true, video: false},
            autoRequestMedia: true});
            webrtc.on('readyToCall', function () {var gotoRoom = !{JSON.stringify(room)};
            webrtc.joinRoom(gotoRoom);
            console.log('Joined room ' + gotoRoom);
            });