//
   Created by Chad on 11/1/2014.

extends monitor

block scripts
    script(src="/javascripts/monitor.js")
    script(src="/javascripts/motion.js")
    script(src="/javascripts/webrtc.js")
    script(src="/javascripts/tesselProxy.js")